.header {
  margin: 0 auto;
  max-width: 880px;
  min-width: 320px;
  min-height: 84px;
  border-top: 1px solid rgba(84, 84, 84, .7);
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  transition: margin 0.05s linear;
}

@media (min-width: 899px) {
  .header {
    min-height: 119px;
  }
}
