.photo-place__like-btn {
  all: unset;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/icons/like-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  justify-self: center;
  align-self: flex-end;
  grid-area: photo-place__like-btn;
}

.photo-place__like-btn:hover {
  opacity: 0.5;
}

